absl-py==0.7.0
aliyun-python-sdk-core-v3==2.11.0
aliyun-python-sdk-kms==2.5.0
appnope==0.1.0
astor==0.7.1
astroid==2.2.5
baidu-aip==2.2.5.2
bleach==2.1.1
bypy==1.6.4
certifi==2018.11.29
chardet==3.0.4
click==6.7
cloudpickle==0.5.5
colour==0.1.5
configparser==3.5.1
crcmod==1.7
cssselect==1.0.3
cycler==0.10.0
Cython==0.29.3
dask==1.1.4
decorator==4.1.2
dill==0.2.8.2
Django==2.1.5
dominate==2.3.5
drawille==0.1.0
editdistance==0.3.1
-e git+https://github.com/uclmr/egal.git@4d8da2045dab3ae4d86fea5a60e5cca8fa6b3387#egg=egal
entrypoints==0.2.3
-e git+https://github.com/wolfv/jupyter-canvas-widget@4df8ccb1ba65a2c270db64dd042d698d10b9f677#egg=fastcanvas
Flask==0.12.2
Flask-HTTPAuth==3.2.3
fpdf==1.7.2
freegames==2.1.2
future==0.16.0
-e git+https://github.com/jdfreder/gamepad.git@fe1508425c16a9ff65e295766b394479c4223fe3#egg=gamepad
gast==0.2.2
glumpy==1.0.6
gluoncv==0.3.0
graphviz==0.8.4
grpcio==1.18.0
h5py==2.9.0
html5lib==1.0b10
huepy==0.9.8.1
idna==2.5
imageio==2.5.0
imageio-ffmpeg==0.2.0
img2pdf==0.3.2
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.15
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10
jovian==0.1.17
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.4.0
kaggle==1.5.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lazy-object-proxy==1.3.1
lxml==4.1.1
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.6.1
mistune==0.8.3
moviepy==1.0.0
multiprocess==0.70.6.1
mxnet==1.3.0b20180823
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.2.2
npyscreen==4.10.5
numpy==1.16.1
olefile==0.45.1
opencv-python==3.4.2.17
oss2==2.6.0
p5py==1.0.0
pandas==0.22.0
pandas-datareader==0.6.0
pandocfilters==1.4.2
parso==0.1.0
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.4.1
proglog==0.1.9
progressbar==2.5
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.4.8
ptop==1.0
ptyprocess==0.5.2
py==1.7.0
pycryptodome==3.7.2
pygame==1.9.3
pyglet==1.3.2
Pygments==2.2.0
pylint==2.3.1
pyocr==0.5.3
PyOpenGL==3.1.0
pyparsing==2.2.0
pytesseract==0.2.6
pytest==3.2.1
python-dateutil==2.6.1
python-slugify==1.2.6
pytz==2017.3
PyWavelets==1.0.0
pyzmq==16.0.3
requests==2.18.3
requests-file==1.4.3
requests-ftp==0.3.1
requests-toolbelt==0.8.0
scikit-image==0.14.2
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
selenium==3.13.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
tensorboard==1.12.2
tensorboardX==1.6
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
torch==0.4.1
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.2.1
torchviz==0.0.1
tornado==4.5.2
tqdm==4.24.0
traitlets==4.3.2
traittypes==0.2.1
triangle==20190115.1
typed-ast==1.3.1
Unidecode==1.0.22
urllib3==1.22
virtualenv==16.1.0
visdom==0.1.8.8
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.4.2
wrapt==1.10.11
xgboost==0.72.1
you-get==0.4.1167
